.auto-style1 {
    width: 100%;
    height: 100%;
}

.cellSize {
    width: 30%;
    
}

.border {
    border: 1px solid black;
}



.auto-style11 {
    width: 100%;
    height: 246px;
    background-color: #FAFAFA;
}



.auto-style12 {
    height: 105px;
    text-align: left;
}

.auto-style13 {
    width: 75%;
    height: 275px;
    margin-bottom: 2%
}



.auto-style15 {
    width: 40%;
}


.auto-style17 {
    text-align: center;
    height: 100%
}



.buttonDesign {
    padding: 16px 32px;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
}

    .buttonDesign:hover {
        background-color: #66B3FF;
        color: white;
        border: 2px solid #66B3FF;
        font-size: 25px;
    }

.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}





.auto-style20 {
    position: relative;
    bottom: 60px
}
.ulstyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
    background-color: black;
    width: 100%;
    
}

.ulstyle li {
    float: left;
    width:25%;
    height:50px;
}

.ulstyle a {
    display: block;
    color: white;
    padding-top:15px;
    text-align: center;
    text-decoration: none;
}

.ulstyle li a:hover:not(.active) {
    background-color: #66B3FF;
    height:50px;

}

.active {
    background-color: #66B3FF;
}

.auto-style1 {
    width: 100%;
    height: 100%;
}

.information {
    font-family: Arial;

}


.auto-style15 {
    width: 40%;
    text-align: left;
}


.auto-style16 {
    height: 25%;
    width: 30%;
    padding-left: 15px;
    text-align: left;
}

.imageStyle {
    border-radius: 50%;
}

.buttonStyle {
    border: 1px solid #66B3FF;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    height: 100%;
    width: 20%
}

    .buttonStyle:hover {
        background-color: #66B3FF;
        color: white;
    }


.auto-style19 {
    text-align: center;
    width: 100%;
    border-collapse:collapse;
    padding: 0px;
    margin: 0px;
}





.auto-style20 {
    width: 100%;
}

